[submodule "Tofuxia-Assets"]
	path = Tofuxia-Assets
	url = https://github.com/Juloass/Tofuxia-Assets.git
[submodule "Tofuxia-Mod"]
	path = Tofuxia-Mod
	url = https://github.com/Juloass/Tofuxia-Mod.git
[submodule "Tofuxia-Administration"]
	path = Tofuxia-Administration
	url = https://github.com/Juloass/Tofuxia-Administration.git
[submodule "Tofuxia-Quests"]
	path = Tofuxia-Quests
	url = https://github.com/Juloass/Tofuxia-Quests.git
[submodule "Tofubot"]
	path = Tofubot
	url = https://github.com/Juloass/Tofubot
[submodule "Tofubot-Web"]
	path = Tofubot-Web
	url = https://github.com/Juloass/Tofubot-Web
