[submodule "Tofuxia-Assets"]
	path = Tofuxia-Assets
	url = https://github.com/Juloass/Tofuxia-Assets.git
[submodule "Tofuxia-Mod"]
	path = Tofuxia-Mod
	url = https://github.com/Juloass/Tofuxia-Mod.git
[submodule "Tofuxia-Mini"]
	path = Tofuxia-Mini
	url = https://github.com/Juloass/Tofuxia-Mini.git
[submodule "Tofuxia-Cards"]
	path = Tofuxia-Cards
	url = https://github.com/Juloass/Tofuxia-Cards.git
[submodule "Tofuxia-Administration"]
	path = Tofuxia-Administration
	url = https://github.com/Juloass/Tofuxia-Administration.git
