[submodule "Tofuxia-Assets"]
	path = Tofuxia-Assets
	url = https://github.com/Juloass/Tofuxia-Assets
[submodule "Tofuxia-Mod"]
	path = Tofuxia-Mod
	url = https://github.com/Juloass/Tofuxia-Mod
[submodule "Tofuxia-Mini"]
	path = Tofuxia-Mini
	url = https://github.com/Juloass/Tofuxia-Mini.git
